<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alancrist.agenda">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".activity.ContatoEditActivity"></activity>
        <activity android:name=".activity.ContatoActivity" />
        <activity android:name=".activity.LigacaoActivity" />
        <activity android:name=".activity.UltimasLigacoesActivity" />
        <activity android:name=".activity.DiscadorActivity" />
        <activity
            android:name=".activity.ContatoListActivity"
            android:label="Lista de Contatos" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>